/* .my-list li:first-child{
  background: red;
} */
/*
.my-list li:last-child{
  background: yellow;
}

.my-list li:nth-child(3){
  background: pink;
}
 */

/*
.my-list li:nth-child(odd){
  background: red;
} */

.my-list li:nth-child(even){
  background: red;
}